
<div style="height: 305px" data-ng-controller="CarouselCtrl">
	<carousel interval="myInterval" no-wrap="noWrapSlides">
		<slide ng-repeat="slide in slides" active="slide.active">
			<img ng-src="{{slide.image}}" style="margin:auto;">
			<div class="carousel-caption">
				<h4>Slide {{$index}}</h4>
				<p>{{slide.text}}</p>
			</div>
		</slide>
	</carousel>
</div>


<div class="section">

    <div class="container">

        <div class="row">
        	<div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-graduation-cap"></i>&nbsp;<i class="fa fa-plus"></i>&nbsp;<i class="fa fa-futbol-o"></i> Занятия и игры для детей<br /><small>от 1 года до 11 лет</small></h3>
                
                <p>Для самых маленьких мы организовали клуб раннего развития, где малыши вместе с мамами начинают заниматься с 1 года. Наша студия раннего развития предлагает комплексную программу, ориентированную на органичное развитие ребенка.</p>
                <p>Для детей постарше у нас подготовлена серьезная развивающая программа, которая ориентирована на комплексное развитие интеллектуальной, эмоциональной, творческой и физической сфер детей. Все,что необходимо для развития детей, Вы сможете найти у нас в Центре развития ребенка.</p>
                <p>Чтобы родителям было удобно, мы специально организовали мини сад, в котором при необходимости Вы можете на несколько часов оставить своего малыша,  и группы кратковременного пребывания, где дети могут учиться и играть одновременно в комфортной среде.</p>
            </div> 
        	<div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-dot-circle-o"></i> Цель детского клуба</h3>
                <p>&mdash; не просто обучать, а развивать. Позволить малышу самостоятельно творить и открывать новые возможности для познания окружающего мира.</p>
                <h4>Задачи клуба</h4>
                <p>Создание атмосферы любви, понимания, поддержки, в которой ребенок приобретает уверенность в себе и своих силах, а также помощь родителям в их стремлении научиться психологически грамотно общаться со своим ребенком, чтобы малыш вырос талантливым и гармоничным человеком. Поэтому детский центр предоставляет широкий спектр услуг при работе не только с детьми, но и с родителями. Среди них развивающие тренинги для родителей, совместные тренинги, на которых родители вовлекаются в процесс вместе с детьми.</p>
				<p>Работа центра направлена на всестороннее и гармоничное развитие ребенка. При создании программы использовались источники, в которые входят как классические концепции детских методик, так и новаторские: Монтессори, Щетинин, Бейнарович, Ф. Фребель, Запорожец, Данилова, Жукова, Кузнецова и многие другие.</p>
            </div>                       
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-cubes"></i> Основы программы</h3>
                <ol>
                	<li>Наблюдение за ребенком, его исследование и раскрытие</li>
                	<li>Создание условий для  развития выявленного потенциала</li>
                	<li>Воспитание гармоничной личности. Социальность. <p class="small">Предполагает воспитание коммуникативных навыков у ребенка. Формируя личность, каждый ребенок вливается в социальный организм, и от того, на каких основах он будет взаимодействовать с окружением, зависит его дальнейшая судьба.  Система центра обучает гармоничному выстраиванию личностных границ, умению правильно общаться, выражать свои мысли и чувства, защищать свои интересы, не нарушая чужих границ. Программа направлена на всестороннее гармоничное развитие ребенка, подготовку к практической жизни в саду, школе.</p></li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <blockquote class="pull-right">О возможностях маленьких детей ходят легенды, однако действительность порой превосходит все ожидания.</blockquote>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Modern Business Features Include:</h2>
                <ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="http://placehold.it/700x450">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="http://placehold.it/700x450">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Modern Business Features Include:</h2>
                <ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>'Modern Business' is a ready-to-use, Bootstrap 3 updated, multi-purpose HTML theme!</h4>
            <p>For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="http://startbootstrap.com">See More Templates!</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
