<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">О нас
                <small>воспитатели Улыбашек</small>
            </h1>
            <ol class="breadcrumb">
                <li><a data-ui-sref="home" href="/">Главная</a>
                </li>
                <li class="active">О нас</li>
            </ol>
        </div>

    </div>

    <div class="row">

               	<div class="col-lg-4 col-md-4 col-sm-6">
                <img class="img-responsive img-home-portfolio" data-ng-src="{{blobs.home.t1.src}}">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="img-responsive img-home-portfolio" data-ng-src="{{blobs.home.t2.src}}">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="img-responsive img-home-portfolio" data-ng-src="{{blobs.home.t3.src}}">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="img-responsive img-home-portfolio" data-ng-src="{{blobs.home.t4.src}}">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="img-responsive img-home-portfolio" data-ng-src="{{blobs.home.t5.src}}">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="img-responsive img-home-portfolio" data-ng-src="{{blobs.home.t6.src}}">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="img-responsive img-home-portfolio" data-ng-src="{{blobs.home.t7.src}}">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="img-responsive img-home-portfolio" data-ng-src="{{blobs.home.t8.src}}">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="img-responsive img-home-portfolio" data-ng-src="{{blobs.home.t9.src}}">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="img-responsive img-home-portfolio" data-ng-src="{{blobs.home.t10.src}}">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="img-responsive img-home-portfolio" data-ng-src="{{blobs.home.t11.src}}">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="img-responsive img-home-portfolio" data-ng-src="{{blobs.home.t12.src}}">
            </div>

    </div>


</div>
<!-- /.container -->
