<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Уход
                <small>за детьми</small>
            </h1>
            <ol class="breadcrumb">
                <li><a data-ui-sref="home" href="/">Главная</a>
                </li>
                <li class="active">Уход за детьми</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Paragraphs -->

    <div class="row">

        <div class="col-lg-6">
            <h2 class="page-header">Мини&ndash;сад</h2>
			<p><img data-ng-src="{{blobs.childcare.minisad.src}}" class="pull-left" />В нашем мини-детском саду вы можете оставить своего ребенка до 4-х часов. Уютная обстановка, доброжелательность и опыт педагогов помогут Вашему ребенку с удовольствием провести время, а родителям, не беспокоясь за детей, заняться своими делами. Игровая комната оборудована по всем нормам безопасности: пластиковые окна, экраны отопительной системы, ковровое покрытие.</p>
			<p>Большое разнообразие игрушек (резиновых, пластмассовых, деревянных), конструкторов, сборных моделей – не дадут скучать Вашему ребенку. Творческим детям будут предложены краски, карандаша, пластилин.</p>
			<p>Если дети остаются в игровой комнате Детского центра на несколько часов, то в расписание занятий и игр можно включить перерыв для того, чтобы ребенок мог перекусить и отдохнуть.</p>
			<p>Сотрудники Детского центра «Улыбашки» поддерживают контакт с родителями, во время их отсутствия, и готовы гибко подстроится под изменения графика, выручат в любой форс-мажорной ситуации.</p>
			<strong>Запись в мини сад производится по предварительному звонку &mdash; за день.</strong>
        </div>

        <div class="col-lg-6">
            <h2 class="page-header">Группа неполного дня <small>2&frac12;&mdash;6 лет</small></h2>	
			
			<p>&mdash; это комплекс занятий для детишек, которые не посещают детский сад.</p>
			<p>Для полноценного развития дети обязательно должны общаться с другими детьми и взрослыми, осваивать правила взаимоотношений, учиться договариваться без обид и слез, играть в сюжетно-ролевые игры. В нашем центре детишек ждут увлекательные развивающие занятия:</p>
			<ul>
				<li>окружающий мир</li>
				<li>математика</li>
				<li>творчество &mdash; лепка, аппликация, рисование, конструирование</li>
				<li>физические упражнения, ритмика</li>
				<li>музыка</li>
				<li>сюжетные, ролевые, настольные игры</li>
			</ul>
			
			<p>Цель развивающих занятий в детском центре «Улыбашки»:</p>
			<ul>
				<li>развитие мелкой моторики</li>
				<li>развитие слуха и тактильных ощущений</li>
				<li>адаптация в коллективе</li>
				<li>развитие речи</li>
				<li>развитие творческих и физических способностей</li>
				<li>получение необходимых возрастных представлений об окружающем мире, математике, художественной литературе</li>
			</ul>
			
			<p><img data-ng-src="{{blobs.childcare.halfsad.src}}" class="pull-left" />Занятия проходят в игровой форме. Разные виды деятельности на занятиях сменяют друг друга. В результате, ребенок не переутомляется и сохраняет интерес к занятиям, к познанию нового.</p>
			<p>Занятия проходят в группе до 8 человек, что позволяет найти индивидуальный подход к каждому ребенку.</p>
		</div>

    </div>
    <!-- /.row -->  

</div>
<!-- /.container -->