<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Наш адрес
                <small>&ndash; ждём Вас!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a data-ui-sref="home" href="/">Гланая</a></li>
                <li class="active">Как нас найти?</li>
            </ol>
        </div>
	</div>
	
	<div class="row">
        <div class="col-sm-12 col-lg-6">
        	<div class="row" id="mapRow">
        		<div id="map"></div>  
        	</div>      
    	</div>
        <div class="col-sm-4">
        	<address>
        	  <h3><small>детский клуб</small> &laquo;Улыбашки&raquo;</h3>			  
			  <p>ул. Игната Титова, 7, подъезд №1<br />
			  г. Красногорск,<br/>
			  Московская область, 143405</p>
			  <p><i class="fa fa-phone"></i> <abbr title="телефон">тел.</abbr>: <a href="tel:+79253789262">&plus;7 (925) 378&ndash;92&ndash;62</a></p>
			  <p><i class="fa fa-envelope-o"></i> <abbr title="электронная почта">Email</abbr>: <a href="mailto:club@deti.lol">club@deti.lol</a></p>
			  <p><i class="fa fa-clock-o"></i> <abbr title="время работы">Открыты</abbr>: Понедельник &ndash; Пятница: 8:30 &mdash; 20:30</p>
			</address>            
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-page" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a></li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-company-page" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a></li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-page" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a></li>
            </ul>
        </div>
    </div>

</div><!-- /.container -->