<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Занятия
                <small>для детей</small>
            </h1>
            <ol class="breadcrumb">
                <li><a data-ui-sref="home" href="/">Главная</a>
                </li>
                <li class="active">Занятия</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->


    <!-- Service Tabs -->
    
    <div class="row">
    	<div class="col-lg-12">
    		<tabset>
    			 <tab heading="Познавашки, 1&mdash;3 года" id="poznavashki">
    			 	<h3 class="text-center">Занятия-игры с детьми раннего возраста (1&mdash;3 года)</h3>
    			 	<div class="row">
    			 		<div class="col-sm-4">
    			 			<img class="img-responsive" data-ng-src="{{blobs.klasses.poznavashki.src}}">
    			 		</div>
    			 		<div class="col-sm-8">    			 			
    			 			Каждое занятие подразделяется на части и включает в себя  игры и задания, направленные на развитие:
		    			 	<ul>
		    			 		<li>мелкой моторики</li>
		    			 		<li>музыкального ритма <small>(развитие основных движений, координации, музыкального слуха)</small></li>
		    			 		<li>ручной умелости и творческих способностей <small>(аппликация, лепка, рисование доступными средствами — малыш всегда уходит с занятия с поделкой)</small></li>
		    			 		<li>речи <small>(артикуляционная гимнастика, логоритмика, звуковые игры и расширение словаря ребёнка)</small></li>
		    			 		<li>памяти, внимания, мышления, счёта и знакомство с буквами <small>(кубики Зайцева)</small></li>
		    			 		<li>индивидуальных способностей и их выявление</li>
		    			 		<li>взаимоотношений со сверстниками и адаптацию к детскому саду</li>		    			 		
		    			 	</ul>
		    			 	<p>Занятия проходят в игровой форме, до 2-х лет при участии родителей. Максимальное количество детей в группе - 6 человек,что обеспечивает индивидуальный подход к каждому ребёнку.</p>		    			 	
		    			 	<p>Группы формируются с интервалом до 6 месяцев, например в группе дети 1 год и 1,6 мес.</p>
		    			 	<h3>Памятка родителям</h3>
		    			 	<p>По правилам посещения нашего центра дети до двух лет посещают наши занятия в сопровождении взрослого.</p> 
							<p>На занятие малыш может приходить с мамой, папой, бабушкой, няней и пр.(один сопровождающий). Это связано, прежде всего, с эмоциональной близостью мамы и малыша.</p> 
							<p>Незнакомая обстановка, новые игрушки и даже поведение других детей могут вызвать разнообразные реакции начинающего ученика. Помните, что занятие невозможно проводить без Вашего активного участия, т.к. именно близкие являются эталоном поведения и создают чувство защищённости.</p>
							<p><strong>Выключайте мобильные телефоны!</strong> Детям раннего возраста трудно сконцентрировать внимание, а звонящий телефон отвлекает их от познавателного процесса.</p>
							<p class="lead">НА ЗАНЯТИЯХ НЕОБХОДИМО ИМЕТЬ СМЕННУЮ ОБУВЬ!</p>														
    			 		</div>
    			 	</div>
    			 	<div class="row">
    			 		<google-sheet data-worksheet="1UNXtCmrfjtByDeQNrAh6l4LVfLFaqPzb0ge7IImFA10" data-sheet="Познавашки">			    				
			    				<table class="table table-bordered">
			    					<caption>Расписание</caption>
			    					<tbody>
				    					<tr data-ng-repeat="row in gs.data track by $index">
				    						<td data-ng-repeat="cell in row track by $index">{{cell}}</td>
				    					</tr>
			    					</tbody>
			    				</table>
			    		</google-sheet>	
    			 	</div>
    			 </tab>    			 
    			 <tab heading="Развивашки, 3&mdash;5 лет" id="razvivashki">
    			 	<h3 class="text-center">Развивающие игры-занятия для детей от 3 до 5 лет</h3>
    			 	<div class="row">
    			 		<div class="col-sm-8">		    			 	
		    			 	Каждое занятие подразделяется на части и включает в себя  игры и задания, направленные на развитие:
		    			 	<ul>
		    			 		<li>интеллекта, кругозора, общих  знаний</li>
		    			 		<li>речи</li>
		    			 		<li>грамоты и математических представлений</li>
		    			 		<li>мелкой и общей моторики, пространственной ориентации, тактильных ощущений</li>
		    			 		<li>психических функций &ndash; внимание, память, мышление</li>
		    			 		<li>воображения, фантазии</li>
		    			 		<li>изобразительной, эстетической деятельности</li>
		    			 		<li>любознательности, познавательной и экспериментальной деятельности</li>
		    			 		<li>игровой деятельности, самостоятельности</li>
		    			 	</ul>
		    			 	<p>Гармоничное развитие возможно только тогда, когда различные  составляющие развития не преобладают друг над другом, т.е. в определенный период роста и развития дошкольника необходимому уделяется необходимое время. Поэтому мы обращаем особое внимание на то, чтобы в каждой теме сочетались и теория  (объяснение, просмотр картинок), и практическое воплощение приобретенных ребенком знаний. Послушать сказку  и обыграть ее,  нарисовать персонажей  и сыграть в подвижную игру на сказочную тему, составить из Кубиков Зайцева имена героев. Мы стараемся включить в деятельность ребенка по освоению темы как можно больше элементов.</p>
		    			 	<p>Используемые на одном занятии задания и упражнения тщательно подобраны для дошкольников конкретного возраста.</p>		    			 									
	    			 	</div>
	    			 	<div class="col-sm-4">
	                		<img class="img-responsive" data-ng-src="{{blobs.klasses.razvivashki.src}}">
	            		</div>					
            		</div>
            		<div class="row">
    			 		<google-sheet data-worksheet="1UNXtCmrfjtByDeQNrAh6l4LVfLFaqPzb0ge7IImFA10" data-sheet="Развивашки">			    				
			    			<table class="table table-bordered">
			    				<caption>Расписание</caption>
			    				<tbody>
				    				<tr data-ng-repeat="row in gs.data track by $index">
				    					<td data-ng-repeat="cell in row track by $index">{{cell}}</td>
				    				</tr>
			    				</tbody>
			    			</table>
			    		</google-sheet>	
    			 	</div>
    			 </tab>
    			 <tab heading="Читалка" id="chitalka">
    			 	<blockquote>Красивая правильная речь — несомненное достоинство как взрослых, так и детей.</blockquote>
    			 	<div class="row">
    			 		<div class="col-sm-8">    			 			
		    			 	<ul>
		    			 		<li>знакомство с буквами, алфавитом, чтение слов по слогам</li>
								<li>
									знакомство с веселыми пословицами, поговорками и фразеологизмами
									<p class="small">Пословицы и поговорки — неотъемлемая часть живой разговорной речи. Недаром народ говорит: «Пословица не умеет лгать», «Умный человек не говорит без пословицы». «Мы учим русскому народному языку на пословицах, - писал К. Д. Ушинский‚ — ибо лучшего народного языка, чем тот, который сохранен в пословицах, не знаем». «Пословицы краткие, а ума и чувства вложено в них на целые книги» - писал Горький. Знакомство с фразеологизмами совершенствует навыки устной речи, развивает мышление, фантазию.</p>									
								</li>
								<li>
									чтение художественных произведений
									<p class="small">При чтении художественной литературы у детей формируются нравственные чувства и оценки, нормы нравственного поведения, воспитывается эстетическое восприятие.</p> 
									<p class="small">Н. С. Карпинская  считала, что художественная книга дает прекрасные образцы литературного языка. В рассказах дети познают лаконизм и точность языка; в стихах – музыкальность, напевность, ритмичность русской речи; в сказках – меткость, выразительность.                                                                                                                     Из книги ребенок узнает много новых слов, образных выражений, его речь обогащается эмоциональной и поэтической лексикой. Литература помогает детям излагать свое отношение к прослушанному, используя сравнения, метафоры, эпитеты и другие средства образной выразительности.</p>
								</li>
								<li>
									этические беседы
									<p class="small">Этические беседы объединены темами, расказывающими те или иные стороны нравственных отношений. Беседы проводятся в порядке нарастания сложности обсуждаемых вопросов. В основе каждой беседы лежит художественное произведение, позволяющее познакомить детей с разнообразными нравственными ситуациями и соответствующими им правилами поведения. Образы литературных героев помогают стимулировать положительные формы поведения и тормозить негативные. Сложность нравственных явлений определяет постепенное проникновение в их суть. Сначала дети понимают их на эмоциональном уровне «хорошо», «плохо», затем постепенно начинают осознавать, почему совершается тот или иной поступок.Формируются такие нравственные качества как: совесть, чувство справедливости, честь, достоинство и т.д.</p>
								</li>
		    			 	</ul>	
		    			</div>
	    			 	<div class="col-sm-4">
	                		<img class="img-responsive" data-ng-src="{{blobs.klasses.chitalka.src}}">
	            		</div>
            		</div>
            		<div class="row">
    			 		<google-sheet data-worksheet="1UNXtCmrfjtByDeQNrAh6l4LVfLFaqPzb0ge7IImFA10" data-sheet="Читалка">			    				
			    			<table class="table table-bordered">
			    				<caption>Расписание</caption>
			    				<tbody>
				    				<tr data-ng-repeat="row in gs.data track by $index">
				    					<td data-ng-repeat="cell in row track by $index">{{cell}}</td>
				    				</tr>
			    				</tbody>
			    			</table>
			    		</google-sheet>	
    			 	</div>
    			 </tab>
    			 <tab heading="Подготовка к школе, 5&mdash;7 лет" id="shkola">
    			 	<div class="row">
    			 		<div class="col-sm-8">
    			 			<p>Главная задача, которую ставит перед собой наш детский центр- сформировать у дошкольников позитивное отношение к учёбе, умение с радостью и удовольствием получать новые знания, развить самостоятельность и чувство ответственности.</p>
		    			 	<p>Дошкольники распределяются по группам в зависимости от возраста:</p>
		    			 	<ul>
		    			 		<li>дети 5&mdash;6 лет &ndash; группа &laquo;Первый шаг к школе&raquo;</li>
								<li>дети 6&mdash;7 лет &ndash; группа  &laquo;На пороге школы&raquo;</li>
							</ul>
							<p>Программа включает:</p>
							<ol>
								<li>математика и счет, развитие логики, внимания, мышления.</li>
								<li>обучение чтению и письму, развитие речи.</li>
								<li>окружающий мир</li>
								<li>развитие мелкой моторики &mdash; творчество, письмо</li>
							</ol>	
		    			</div>
	    			 	<div class="col-sm-4">
	                		<img class="img-responsive" data-ng-src="{{blobs.klasses.shkola.src}}">
	            		</div>
            		</div>
            		<div class="row">
    			 		<google-sheet data-worksheet="1UNXtCmrfjtByDeQNrAh6l4LVfLFaqPzb0ge7IImFA10" data-sheet="Подготовка к школе">			    				
			    			<table class="table table-bordered">
			    				<caption>Расписание</caption>
			    				<tbody>
				    				<tr data-ng-repeat="row in gs.data track by $index">
				    					<td data-ng-repeat="cell in row track by $index">{{cell}}</td>
				    				</tr>
			    				</tbody>
			    			</table>
			    		</google-sheet>	
    			 	</div>
    			 </tab>
    			 <tab heading="Домашние задания" id="dz">
    			 	<h3 class="text-center">Помощь в подготовке домашнего задания детям начальной школы</h3>
    			 	<div class="row">    			 		
    			 		<div class="col-sm-8">    			 			
    			 			<p>Качество знаний и уровень развития ребенка всегда зависел от сочетания школьных занятий и выполнения домашних заданий. Родители по мере своих сил и образования помогают детям решать задачки, но родительской любви и внимания не всегда достаточно, чтобы преодолеть трудности обучения в школе.</p>
    			 			<p>Нередко в учебе возникают проблемы, несмотря на то, что ребята хотят хорошо учиться и радовать своих близких и окружающих. Причины плохой учебы часто связаны с увеличением количества предметов, сложностью предметов; во-вторых, неумение анализировать, плохая речь, слабые память и внимание; в-третьих, нежелание заставить себя заниматься, неразвитая, слабая воля. Все эти проблемы решаемы, необходимо только внимание и терпение взрослых.</p>
		    				<p>Нужно помогать ребенку в учебе, чтобы он понял все детали трудного задания и сам мог выполнить аналогичное, подробно объясняя свои действия.</p>
		    				<p>В «Улыбашках» выполнение ребенком домашних заданий не превращается в орудие пыток. Наоборот, мы формируем положительную мотивацию выполнения домашнего задания, его дальнюю перспективу.</p>
		    				<p>Детский центр «Улыбашки» предоставляет специальные условия для индивидуальных занятий.  Педагоги центра не просто помогут ребенку справиться с текущими школьными заданиями, но и разберутся в причинах неуспеваемости.</p>		    				
		    			</div>
	    			 	<div class="col-sm-4">
	                		<img class="img-responsive" data-ng-src="{{blobs.klasses.dz.src}}">
	            		</div>
            		</div>
            		<div class="row">
    			 		<google-sheet data-worksheet="1UNXtCmrfjtByDeQNrAh6l4LVfLFaqPzb0ge7IImFA10" data-sheet="Домашние задания">			    				
			    			<table class="table table-bordered">
			    				<caption>Расписание</caption>
			    				<tbody>
				    				<tr data-ng-repeat="row in gs.data track by $index">
				    					<td data-ng-repeat="cell in row track by $index">{{cell}}</td>
				    				</tr>
			    				</tbody>
			    			</table>
			    		</google-sheet>	
    			 	</div>
    			 </tab>
    		</tabset>
    	</div>
    </div>

</div>
<!-- /.container -->
