<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Расписание <small>занятий</small> и цены
            </h1>
            <ol class="breadcrumb">
                <li><a href="/">Главная</a>
                </li>
                <li class="active">Расписание и цены</li>
            </ol>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <google-sheet data-worksheet="1T4kxP37tg39xfPdHeu-kyuOjdmOC-sD4WRjiIq_08tY" data-sheet="Sheet1">
                <table class="table table-bordered"><tr data-ng-repeat="row in gs.data track by $index"><td data-ng-repeat="cell in row track by $index">{{cell}}</td></tr></table>
            </google-sheet>
        </div> 

    </div>

</div>
<!-- /.container -->

