<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" data-ng-click="isMenuCollapsed = !isMenuCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand" data-ui-sref="home" href="/">&#x263a; Улыбашки &#x263a; <small>&mdash; детский клуб</small></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" data-collapse="!isMenuCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li><a data-ui-sref="klasses" href="#/klasses">Занятия</a></li>
                <li><a data-ui-sref="childcare" href="#/childcare">Уход за детьми</a></li>
                <li><a data-ui-sref="pricing" href="#/pricing">Цены</a></li>
                <li><a data-ui-sref="about" href="#/about">О нас</a></li>                
                <li><a data-ui-sref="contact" href="#/contact">Как нас найти?</a></li>
                <li data-dropdown="" >
                    <a data-dropdown-toggle>Blog <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/blog">List of Posts</a>
                        </li>
                        <li><a href="#/blog/post">View One Post</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
